@import "tailwindcss";

html {
  scroll-padding-top: 150px; /* отступ для всех якорей на странице */
  scroll-behavior: smooth;
}

@theme inline {
  --color-primary: #689d0c;
  --color-primary-dark: #376405;

  --color-accent: #bdd345;
  --color-accent-light: #e4e66c;

  --color-bg-main: #050505;
  --color-bg-section: #bfd4b2;

  --color-green-soft: #d4e38b;
  --color-green-muted: #8ca474;

  --color-text-main: #689d0c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoom-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-in {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.fade-in {
  animation-name: fade-in;
}

.zoom-in {
  animation-name: zoom-in;
}
